*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100% ;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    height: 150px;
    width: 110px;
    border: 1px solid black;
    border-radius: 10px;
   margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 10px; /* match card radius */
    object-fit: cover;
}
